.faq {
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: rgb(49, 52, 75);
    line-height: 19px;
    box-shadow: 5px 5px 23px  black;
}

.faq-items {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button:not(.collapsed):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button{
    display: flex;
}
.acc-button:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}

.faq-items2 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item2 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item2 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items2:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button2:not(.collapsed2):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button2{
    display: flex;
}
.acc-button2:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items3 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item3 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item3 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items3:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button3:not(.collapsed3):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button3{
    display: flex;
}
.acc-button3:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items4 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item4 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item4 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items4:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button4:not(.collapsed4):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button4{
    display: flex;
}
.acc-button4:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items5 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item5 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item5 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items5:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button5:not(.collapsed5):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button5{
    display: flex;
}
.acc-button5:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items6 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item6 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item6 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items6:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button6:not(.collapsed6):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button6{
    display: flex;
}
.acc-button6:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items7 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item7 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item7 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items7:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para7 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button7:not(.collapsed7):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button7{
    display: flex;
}
.acc-button7:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items8 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item8 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item8 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items8:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para8 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button8:not(.collapsed8):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button8{
    display: flex;
}
.acc-button8:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items9 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item9 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item9 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items9:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para9 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button9:not(.collapsed9):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button9{
    display: flex;
}
.acc-button9:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items10 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item10 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item10 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items10:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para10 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button10:not(.collapsed10):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button10{
    display: flex;
}
.acc-button10:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items11 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item11 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item11 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items11:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para11 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button11:not(.collapsed11):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button11{
    display: flex;
}
.acc-button11:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items12 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item12 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item12 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items12:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para12 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button12:not(.collapsed12):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button12{
    display: flex;
}
.acc-button12:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items13 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item13 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item13 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items13:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para13 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button13:not(.collapsed13):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button13{
    display: flex;
}
.acc-button13:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items14 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item14 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item14 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items14:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para14 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button14:not(.collapsed14):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button14{
    display: flex;
}
.acc-button14:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items15 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item15 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item15 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items15:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para15 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button15:not(.collapsed15):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button15{
    display: flex;
}
.acc-button15:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.faq-items1 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    cursor: pointer;
    padding: 15px;
    height: 14vh;
    transition: all 0.5s ease-in-out; 
}
.faq-item1 {
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
    padding-left: 0;
}
.faq-item1 button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #223448;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
}

.faq-items1:not(.f-ht-resp) {
  height: 5vh;
}
.faq-item-para1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:rgb(85, 88, 108);
    border: 0px solid black;
    padding-left: 0;
    margin-top: 15px; 
    overflow-y: hidden; 
}
.acc-button1:not(.collapsed1):after{
    background-image: url("/Images/LOGO/plus.svg");
    transform: rotate(-180deg);
}

.acc-button1{
    display: flex;
}
.acc-button1:after{
    background-image: url("/Images/LOGO/down.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    flex-shrink: 0;
    height: 1.25rem;
    margin-left: auto;
    width: 1.25rem;
    transform: all 0.2s ease-in-out;
}
.card-p{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    column-gap: 0;
}
